<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>delete Department</title>
</head>
<body>
<h1>delete Department</h1>department
<p>
    <a th:href="@{/department/list}">department list</a>
</p>
<form th:action="@{/department/delete}" th:object="${department}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="delete Department"></td>
        </tr>
    </table>
</form>
</body>
</html>